<div id="members" class="container members main">
    <div class="members-banner">
        <img src="/images/baseimg/members-icon.png" alt="" class="members-banner__icon">
        <div class="members-banner__content">
            <h1 class="members-banner__heading">Members</h1>
            <span class="members-banner__text">Browse all the members of the community!</span>
        </div>
    </div>
    <div class="members-filters">
        <div class="members-filters__search">
            <input type="text"  class="members-filters__input">
            <div class="members-filters__placeholder">Seacher Member</div>
            <div class="members-filters__icon">
                <i class="fas fa-search header-seach-icon"></i>
            </div>
        </div>
        <div class="members-filters__order">
            <select class="members-filters__section">
                <option value="1" class="members-filters__option">Name</option>
                <option value="2" class="members-filters__option">Number Of Posts</option>
                <option value="3" class="members-filters__option">Number Of Friends</option>
            </select>
            <div class="members-filters__title">Order By</div>
        </div>
        <div class="members-filters__grids">
            <div class="members-filters__grids-content">
                <svg id="svg-big-grid-view" class="members-filters__grids-icon big-grid active" viewBox="0 0 20 20" preserveAspectRatio="xMinYMin meet">
                    <path d="M16,20H4c-2.209,0-4-1.791-4-4V4c0-2.209,1.791-4,4-4h12c2.209,0,4,1.791,4,4v12C20,18.209,18.209,20,16,20z M2,16c0,1.102,0.896,2,2,2h5v-7H2V16z M4,2C2.896,2,2,2.896,2,4v5h7V2H4z M18,4c0-1.104-0.897-2-2-2h-5v7h7V4z M18,11h-7v7h5c1.103,0,2-0.898,2-2V11z"></path>
                </svg>
                <div class="members-filters__grids-icon-hover">Big Grid</div>
            </div>
            <div class="members-filters__grids-content ">
                <svg id="svg-small-grid-view" class="members-filters__grids-icon small-grid" viewBox="0 0 20 20" preserveAspectRatio="xMinYMin meet">
                    <path d="M16,20H4c-2.209,0-4-1.791-4-4V4c0-2.209,1.791-4,4-4h12c2.209,0,4,1.791,4,4v12C20,18.209,18.209,20,16,20z M12,18v-4H8v4H12z M2,16c0,1.102,0.896,2,2,2h2v-4H2V16z M6,2H4C2.896,2,2,2.896,2,4v2h4V2z M2,8v4h4V8H2z M12,2H8v4h4V2z M8,8v4h4V8H8z M18,4c0-1.103-0.897-2-2-2h-2v4h4V4z M18,8h-4v4h4V8zM18,14h-4v4h2c1.103,0,2-0.898,2-2V14z"></path>
                </svg>
                <div class="members-filters__grids-icon-hover">Small Grid</div>
            </div>
            <div class="members-filters__grids-content">
                <svg id="svg-list-grid-view" class="members-filters__grids-icon list-grid" viewBox="0 0 20 20" preserveAspectRatio="xMinYMin meet">
                    <path d="M16,20H4c-2.209,0-4-1.791-4-4V4c0-2.209,1.791-4,4-4h12c2.209,0,4,1.791,4,4v12C20,18.209,18.209,20,16,20z M2,16c0,1.102,0.896,2,2,2h2v-4H2V16z M6,2H4C2.896,2,2,2.896,2,4v2h4V2z M2,8v4h4V8H2z M18,4c0-1.103-0.897-2-2-2H8v4h10V4z M18,8H8v4h10V8z M18,14H8v4h8c1.103,0,2-0.898,2-2V14z"></path>
                </svg>
                <div class="members-filters__grids-icon-hover">List Grid</div>
            </div>
        </div>
    </div>
    <div class="row list-members">
        <div class="col-sm-4 .col-md-4 col-6 col-lg-4 ">
            <div class="list-members__member">
                <img src="/images/baseimg/bg-hung.jpg" class="list-members__background" alt="">
                <div class="list-members__info">
                    <a href="" class="list-members__name-link">
                        <div class="list-members__name">
                            Nguyễn Hưng
                        </div>
                    </a>
                    <a href="" class="list-members__name-link">
                        <div class="list-members__nickname">@Ròm</div>
                    </a>
                </div>
                <div class="list-members__status">
                    <div class="list-members__post">
                        <div class="list-members__post-number posts-numbers">8</div>
                        <div>
                            Posts
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number number-friend">1</div>
                        <div>
                            Friend
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number">0</div>
                        <div>
                            Comments
                        </div> 
                    </div>
                </div>
                <div class="list-members__social">
                    <a href="https://www.facebook.com/hung.nguyen020/" target="_blank" class="list-members__link">
                        <div class="list-members__item">
                            <i class="fab fa-facebook-square"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link">
                        <div class="list-members__item instagram">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link ">
                        <div class="list-members__item youtube">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </a>
                </div>
                <a href="" class="list-members__avata-link">
                    <img src="/images/baseimg/av-hung.jpg" class="list-members__avata"></img>
                </a>
            </div>
        </div>
        <div class="col-sm-4 .col-md-4 col-6 col-lg-4 ">
            <div class="list-members__member">
                <img src="/images/baseimg/117251156_780671119335149_3490588943834725576_o copy 2.jpg" class="list-members__background" alt="">
                <div class="list-members__info">
                    <a href="" class="list-members__name-link">
                        <div class="list-members__name">
                            Tống Hoàng
                        </div>
                    </a>
                    <a href="" class="list-members__name-link">
                        <div class="list-members__nickname">@Ba_ke</div>
                    </a>
                </div>
                <div class="list-members__status">
                    <div class="list-members__post">
                        <div class="list-members__post-number posts-numbers">3</div>
                        <div>
                            Posts
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number number-friend">10</div>
                        <div>
                            Friend
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number">0</div>
                        <div>
                            Comments
                        </div> 
                    </div>
                </div>
                <div class="list-members__social">
                    <a href="https://www.facebook.com/profile.php?id=100021768050284" target="_blank" class="list-members__link">
                        <div class="list-members__item">
                            <i class="fab fa-facebook-square"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link">
                        <div class="list-members__item instagram">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link ">
                        <div class="list-members__item youtube">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </a>
                </div>
                <a href="" class="list-members__avata-link">
                    <img src="/images/baseimg/av-hoang.jpg" class="list-members__avata"></img>
                </a>
            </div>
        </div>
        <div class="col-sm-4 .col-md-4 col-6 col-lg-4 ">
            <div class="list-members__member">
                <img src="/images/baseimg/bg-tuan.jpg" class="list-members__background" alt="">
                <div class="list-members__info list-members__info-click ">
                    <span class="list-members__name-link">
                        <div class="list-members__name">
                            A Tuấn
                        </div>
                    </span>
                    <span class="list-members__name-link">
                        <div class="list-members__nickname">@Messi</div>
                    </span>
                </div>
                <div class="list-members__status">
                    <div class="list-members__post">
                        <div class="list-members__post-number posts-numbers">6</div>
                        <div>
                            Posts
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number number-friend">9</div>
                        <div>
                            Friend
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number">3</div>
                        <div>
                            Comments
                        </div> 
                    </div>
                </div>
                <div class="list-members__social">
                    <a href="https://www.facebook.com/profile.php?id=100014627285450" target="_blank" class="list-members__link">
                        <div class="list-members__item">
                            <i class="fab fa-facebook-square"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link">
                        <div class="list-members__item instagram">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link ">
                        <div class="list-members__item youtube">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </a>
                </div>
                <a href="" class="list-members__avata-link">
                    <img src="/images/baseimg/av-tuan.jpg" class="list-members__avata"></img>
                </a>
            </div>
        </div>
        <div class="col-sm-4 .col-md-4 col-6 col-lg-4 ">
            <div class="list-members__member">
                <img src="/images/baseimg/bg-1.jpg" class="list-members__background" alt="">
                <div class="list-members__info">
                    <a href="" class="list-members__name-link">
                        <div class="list-members__name">
                            Khoa Đăng
                        </div>
                    </a>
                    <a href="" class="list-members__name-link">
                        <div class="list-members__nickname">@Đệ thầy ba</div>
                    </a>
                </div>
                <div class="list-members__status">
                    <div class="list-members__post">
                        <div class="list-members__post-number posts-numbers">12</div>
                        <div>
                            Posts
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number number-friend">3</div>
                        <div>
                            Friend
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number">3</div>
                        <div>
                            Comments
                        </div> 
                    </div>
                </div>
                <div class="list-members__social">
                    <a href="https://www.facebook.com/khoadangatd" target="_blank" class="list-members__link">
                        <div class="list-members__item">
                            <i class="fab fa-facebook-square"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link">
                        <div class="list-members__item instagram">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link ">
                        <div class="list-members__item youtube">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </a>
                </div>
                <a href="" class="list-members__avata-link">
                    <img src="/images/baseimg/avata2.jpg" class="list-members__avata"></img>
                </a>
            </div>
        </div>
        <div class="col-sm-4 .col-md-4 col-6 col-lg-4 ">
            <div class="list-members__member">
                <img src="/images/baseimg/bg-2.jpg" class="list-members__background" alt="">
                <div class="list-members__info">
                    <a href="" class="list-members__name-link">
                        <div class="list-members__name">
                            Đức Dũng
                        </div>
                    </a>
                    <a href="" class="list-members__name-link">
                        <div class="list-members__nickname">@Huấn Rose</div>
                    </a>
                </div>
                <div class="list-members__status">
                    <div class="list-members__post">
                        <div class="list-members__post-number posts-numbers">11</div>
                        <div>
                            Posts
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number number-friend">9</div>
                        <div>
                            Friend
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number">3</div>
                        <div>
                            Comments
                        </div> 
                    </div>
                </div>
                <div class="list-members__social">
                    <a href="https://www.facebook.com/nguyenducdungg" target="_blank" class="list-members__link">
                        <div class="list-members__item">
                            <i class="fab fa-facebook-square"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link">
                        <div class="list-members__item instagram">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link ">
                        <div class="list-members__item youtube">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </a>
                </div>
                <a href="" class="list-members__avata-link">
                    <img src="/images/baseimg/avata1.jpg" class="list-members__avata"></img>
                </a>
            </div>
        </div>
        <div class="col-sm-4 .col-md-4 col-6 col-lg-4 ">
            <div class="list-members__member">
                <img src="/images/baseimg/bg-4.jpg" class="list-members__background" alt="">
                <div class="list-members__info">
                    <a href="" class="list-members__name-link">
                        <div class="list-members__name">
                            Neko Bebop
                        </div>
                    </a>
                    <a href="" class="list-members__name-link">
                        <div class="list-members__nickname">@nekobebop </div>
                    </a>
                </div>
                <div class="list-members__status">
                    <div class="list-members__post">
                        <div class="list-members__post-number posts-numbers">16</div>
                        <div>
                            Posts
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number number-friend">9</div>
                        <div>
                            Friend
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number">3</div>
                        <div>
                            Comments
                        </div> 
                    </div>
                </div>
                <div class="list-members__social">
                    <a href="" class="list-members__link">
                        <div class="list-members__item">
                            <i class="fab fa-facebook-square"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link">
                        <div class="list-members__item instagram">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link ">
                        <div class="list-members__item youtube">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </a>
                </div>
                <a href="" class="list-members__avata-link">
                    <img src="/images/baseimg/avata1.jpg" class="list-members__avata"></img>
                </a>
            </div>
        </div>
        <div class="col-sm-4 .col-md-4 col-6 col-lg-4 ">
            <div class="list-members__member">
                <img src="/images/baseimg/bg-5.jpg" class="list-members__background" alt="">
                <div class="list-members__info">
                    <a href="" class="list-members__name-link">
                        <div class="list-members__name">
                            Nicholas Grissom
                        </div>
                    </a>
                    <a href="" class="list-members__name-link">
                        <div class="list-members__nickname">@nickgrissom</div>
                    </a>
                </div>
                <div class="list-members__status">
                    <div class="list-members__post">
                        <div class="list-members__post-number posts-numbers">16</div>
                        <div>
                            Posts
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number number-friend">9</div>
                        <div>
                            Friend
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number">3</div>
                        <div>
                            Comments
                        </div> 
                    </div>
                </div>
                <div class="list-members__social">
                    <a href="" class="list-members__link">
                        <div class="list-members__item">
                            <i class="fab fa-facebook-square"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link">
                        <div class="list-members__item instagram">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link ">
                        <div class="list-members__item youtube">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </a>
                </div>
                <a href="" class="list-members__avata-link">
                    <img src="/images/baseimg/av3.jpg" class="list-members__avata"></img>
                </a>
            </div>
        </div>
        <div class="col-sm-4 .col-md-4 col-6 col-lg-4 ">
            <div class="list-members__member">
                <img src="/images/baseimg/bg-6.jpg" class="list-members__background" alt="">
                <div class="list-members__info">
                    <a href="" class="list-members__name-link">
                        <div class="list-members__name">
                            Marina Valentine
                        </div>
                    </a>
                    <a href="" class="list-members__name-link">
                        <div class="list-members__nickname">@sanstrange</div>
                    </a>
                </div>
                <div class="list-members__status">
                    <div class="list-members__post">
                        <div class="list-members__post-number posts-numbers">7</div>
                        <div>
                            Posts
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number number-friend">6</div>
                        <div>
                            Friend
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number">2</div>
                        <div>
                            Comments
                        </div> 
                    </div>
                </div>
                <div class="list-members__social">
                    <a href="" class="list-members__link">
                        <div class="list-members__item">
                            <i class="fab fa-facebook-square"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link">
                        <div class="list-members__item instagram">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link ">
                        <div class="list-members__item youtube">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </a>
                </div>
                <a href="" class="list-members__avata-link">
                    <img src="/images/baseimg/av4.jpg" class="list-members__avata"></img>
                </a>
            </div>
        </div>
        <div class="col-sm-4 .col-md-4 col-6 col-lg-4 ">
            <div class="list-members__member">
                <img src="/images/baseimg/bg-8.jpg" class="list-members__background" alt="">
                <div class="list-members__info">
                    <a href="" class="list-members__name-link">
                        <div class="list-members__name">
                            The Green Goo
                        </div>
                    </a>
                    <a href="" class="list-members__name-link">
                        <div class="list-members__nickname">@greengoo</div>
                    </a>
                </div>
                <div class="list-members__status">
                    <div class="list-members__post">
                        <div class="list-members__post-number posts-numbers">1</div>
                        <div>
                            Posts
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number number-friend">1</div>
                        <div>
                            Friend
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number">0</div>
                        <div>
                            Comments
                        </div> 
                    </div>
                </div>
                <div class="list-members__social">
                    <a href="" class="list-members__link">
                        <div class="list-members__item">
                            <i class="fab fa-facebook-square"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link">
                        <div class="list-members__item instagram">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link ">
                        <div class="list-members__item youtube">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </a>
                </div>
                <a href="" class="list-members__avata-link">
                    <img src="/images/baseimg/av5.jpg" class="list-members__avata"></img>
                </a>
            </div>
        </div>
        <div class="col-sm-4 .col-md-4 col-6 col-lg-4 ">
            <div class="list-members__member">
                <img src="/images/baseimg/bg-9.jpg" class="list-members__background" alt="">
                <div class="list-members__info">
                    <a href="" class="list-members__name-link">
                        <div class="list-members__name">
                            Sarah Diamond
                        </div>
                    </a>
                    <a href="" class="list-members__name-link">
                        <div class="list-members__nickname">@diamond-s</div>
                    </a>
                </div>
                <div class="list-members__status">
                    <div class="list-members__post">
                        <div class="list-members__post-number posts-numbers">1</div>
                        <div>
                            Posts
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number number-friend">2</div>
                        <div>
                            Friend
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number">0</div>
                        <div>
                            Comments
                        </div> 
                    </div>
                </div>
                <div class="list-members__social">
                    <a href="" class="list-members__link">
                        <div class="list-members__item">
                            <i class="fab fa-facebook-square"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link">
                        <div class="list-members__item instagram">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link ">
                        <div class="list-members__item youtube">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </a>
                </div>
                <a href="" class="list-members__avata-link">
                    <img src="/images/baseimg/av6.jpg" class="list-members__avata"></img>
                </a>
            </div>
        </div>
        <div class="col-sm-4 .col-md-4 col-6 col-lg-4 ">
            <div class="list-members__member">
                <img src="/images/baseimg/bg-10.jpg" class="list-members__background" alt="">
                <div class="list-members__info">
                    <a href="" class="list-members__name-link">
                        <div class="list-members__name">
                            Destroy Dex
                        </div>
                    </a>
                    <a href="" class="list-members__name-link">
                        <div class="list-members__nickname">@destroydx</div>
                    </a>
                </div>
                <div class="list-members__status">
                    <div class="list-members__post">
                        <div class="list-members__post-number posts-numbers">2</div>
                        <div>
                            Posts
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number number-friend">2</div>
                        <div>
                            Friend
                        </div> 
                    </div>
                    <div class="list-members__post list-members__post-special">
                        <div class="list-members__post-number">0</div>
                        <div>
                            Comments
                        </div> 
                    </div>
                </div>
                <div class="list-members__social">
                    <a href="" class="list-members__link">
                        <div class="list-members__item">
                            <i class="fab fa-facebook-square"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link">
                        <div class="list-members__item instagram">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </a>
                    <a href="" class="list-members__link ">
                        <div class="list-members__item youtube">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </a>
                </div>
                <a href="" class="list-members__avata-link">
                    <img src="/images/baseimg/av7.jpg" class="list-members__avata"></img>
                </a>
            </div>
        </div>
    </div>
</div>