<header class="header">
    <div class="header-actions header-logo">
        <a href="/" class="header-logo-link">
            <img
                src="https://odindesignthemes.com/vikinger-theme/wp-content/uploads/2020/09/cropped-logovikinger.png"
                alt=""
                class="header-logo-img"
            />
            <div class="header-logo-text">HTH</div>
        </a>
    </div>
    <div class="header-actions">
        <i class="fas fa-bars header-icon-slide-menu"></i>
    </div>
    <a href="/" class="header-actions">Home</a>
    <div class="header-actions menu-main">
        Features
        <i class="fas fa-caret-down header-action-icon-down"></i>
        <!-- menu features -->
        <div class="menu-features">
            <div class="menu-feature__body">
                <h1 class="menu-feature__body-heading">BuddyPress</h1>
                <ul class="menu-feature__body-list">
                    <li class="menu-feature__body-item">Profile Timeline</li>
                    <li class="menu-feature__body-item">Profile About</li>
                    <li class="menu-feature__body-item">Profile Friends</li>
                    <li class="menu-feature__body-item">Profile Groups</li>
                    <li class="menu-feature__body-item">Profile Blog Posts</li>
                    <li class="menu-feature__body-item">Profile Photos</li>
                    <li class="menu-feature__body-item">Activity</li>
                </ul>
            </div>
            <div class="menu-feature__body">
                <h1 class="menu-feature__body-heading">GamiPress</h1>
                <ul class="menu-feature__body-list">
                    <li class="menu-feature__body-item">Badges</li>
                    <li class="menu-feature__body-item">Profile Badges</li>
                    <li class="menu-feature__body-item">Quests</li>
                    <li class="menu-feature__body-item">Profile Quests</li>
                    <li class="menu-feature__body-item">Ranks</li>
                    <li class="menu-feature__body-item">Profile Rank</li>
                </ul>
            </div>
            <div class="menu-feature__body">
                <h1 class="menu-feature__body-heading">More Links</h1>
                <ul class="menu-feature__body-list">
                    <li class="menu-feature__body-item">Group Timeline</li>
                    <li class="menu-feature__body-item">Group Members</li>
                    <li class="menu-feature__body-item">Group Photos</li>
                    <li class="menu-feature__body-item">Landing</li>
                    <li class="menu-feature__body-item">Blog</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="header-actions menu-more">More
        <i class="fas fa-caret-down header-action-icon-down"></i>
       
        <div class="menu-more-container">
            <div class="menu-more-item">Other Items</div>
            <div class="menu-more-item">Our Website</div>
        </div>
    </div> -->
    <div class="header-actions header-seacher">
        <div class="header-seach">
            <input
                type="text"
                placeholder="Search here for people, groups and posts"
                class="header-seach-input"
            />
            <i class="fas fa-search header-seach-icon"></i>
        </div>
    </div>
    <div class="header-actions header-logins">
        <div class="header-login">
            <a
                href="/login"
                style="display: flex; text-decoration: none"
                class="header-login-buttom"
            >
                <span>Login</span>
            </a>
        </div>
    </div>
</header>
<!-- nav -->
<nav class="nav-short delay">
    <a href="/" class="nav-short__item nav-short__item-newfeeds">
        <span class="nav-short__item-link">
            <i class="nav-short__icon fas fa-tv"></i>
        </span>
    </a>
    <a href="/members" class="nav-short__item nav-short__item-members">
        <span class="nav-short__item-link">
            <i class="nav-short__icon fas fa-user"></i>
        </span>
    </a>
    <a href="/groups" class="nav-short__item nav-short__item-groups">
        <span class="nav-short__item-link">
            <i class="nav-short__icon fas fa-users"></i>
        </span>
    </a>
    <a href="/blogs" class="nav-short__item nav-short__item-blogs">
        <span class="nav-short__item-link">
            <i class="nav-short__icon fas fa-blog"></i>
        </span>
    </a>
    <div class="nav-short__item nav-short__item-badges">
        <span class="nav-short__item-link">
            <i class="nav-short__icon fas fa-ribbon"></i>
        </span>
    </div>
    <div class="nav-short__item nav-short__item-quests">
        <span class="nav-short__item-link">
            <i class="nav-short__icon fas fa-star-half-alt"></i>
        </span>
    </div>
    <div class="nav-short__item nav-short__item-ranks">
        <span class="nav-short__item-link">
            <i class="nav-short__icon fas fa-layer-group"></i>
        </span>
    </div>
    <div class="nav-short__item nav-short__item-credits">
        <span class="nav-short__item-link">
            <i class="nav-short__icon far fa-gem"></i>
        </span>
    </div>
</nav>
<nav class="nav-long">
    <a href="/" class="nav-long__item nav-long__item-newfeeds">
        <i class="nav-long__icon fas fa-tv"></i>
        <span class="nav-long__item-name">Newsfeed</span>
    </a>
    <a href="/members" class="nav-long__item nav-long__item-members">
        <i class="nav-long__icon fas fa-user"></i>
        <span class="nav-long__item-name">Member</span>
    </a>
    <a href="/groups" class="nav-long__item nav-long__item-groups">
        <i class="nav-long__icon fas fa-users"></i>
        <span class="nav-long__item-name">Groups</span>
    </a>
    <a href="/blogs" class="nav-long__item nav-long__item-blogs">
        <i class="nav-long__icon fas fa-blog"></i>
        <span class="nav-long__item-name">Blog</span>
    </a>
    <span class="nav-long__item">
        <i class="nav-long__icon fas fa-ribbon"></i>
        <span class="nav-long__item-name">Badges</span>
    </span>
    <span class="nav-long__item">
        <i class="nav-long__icon fas fa-star-half-alt"></i>
        <span class="nav-long__item-name">Quests</span>
    </span>
    <span class="nav-long__item">
        <i class="nav-long__icon fas fa-layer-group"></i>
        <span class="nav-long__item-name">Ranks</span>
    </span>
    <span class="nav-long__item">
        <i class="nav-long__icon far fa-gem"></i>
        <span class="nav-long__item-name">Credits</span>
    </span>
</nav>

<!-- scroll on top -->

<div class="btn-top" style="display: none">
    <i class="fas fa-arrow-up"></i>
</div>
