<link rel="stylesheet" href="/stylesheets/logincss/changpassword.css">

<div id="change-password" class="main">
  
    <div class="turn-pick">
      <h3 class="resgiter active">CHANGE PASSWORD</h3>
    </div>
      <form action="/me/edit/password" method="POST" class="form" id="form-1">
        <% if( locals.err) { %>
            <span class="form-message-1"><%= locals.err %></span>
        <% } %>
        <% if( locals.success) { %>
            <span class="form-message-1" style="color: rgb(50, 190, 50)"><%= locals.success %></span>
        <% } %>
            
        <div class="form-group">
            <label for="password" class="form-label">Current Password</label>
            <input id="current-password" required="" name="currentPassword" type="password" placeholder="Current Password" class="form-control">
            <span class="form-message"></span>
        </div>

        <div class="form-group">
          <label for="password" class="form-label">New Password</label>
          <input id="password" required="" name="password" type="password" placeholder="New Password" class="form-control">
          <span class="form-message"></span>
        </div>
    
        <div class="form-group">
          <label for="password_confirmation" class="form-label">Re-type password</label>
          <input id="password_confirmation" name="repassword" required="" placeholder="Re-type password" type="password" class="form-control">
          <span class="form-message"></span>
        </div>
    
        <input class="form-submit" type="submit" value="CHANGE">
      </form>
  </div>

<script>
    $(document).ready(function () {
    
            $("#form-1").submit(function (e) {
                e.preventDefault();
            });
            
            $("#password").blur(function () {
                if ($("#password").val() == "") {
                    $(this).next().text("Please enter this field");
                } else {
                    $(this).next().text("");
                }
            });
            $("#password").keyup(function () {
                $(this).next().text("");
            });

            $("#current-password").blur(function () {
                if ($("#current-password").val() == "") {
                    $(this).next().text("Please enter this field");
                } else {
                    $(this).next().text("");
                }   
            });
            $("#current-password").keyup(function () {
                $(this).next().text("");
            });

            $("#password_confirmation").blur(function () {
                if ($("#password_confirmation").val() == "") {
                    $(this).next().text("Please enter this field");
                } else {
                    $(this).next().text("");
                }
            });
            $("#password_confirmation").keyup(function () {
                if ($(this).val() !== $("#password").val()) {
                    $(this).next().text("Don't match with password");
                } else {
                    $(this).next().text("");
                }
            });
            $(".form-submit").click(function (e) {
                if ($("#password").val() == "") {
                    $("#password").next().text("Please enter this field!");
                } else {
                    $("#password").next().text("");
                }
                if ($("#current-password").val() == "") {
                    $("#current-password").next().text("Please enter this field!");
                } else {
                    $("#current-password").next().text("");
                }

                if ($("#password_confirmation").val() == "") {
                    $("#password_confirmation").next().text("Please enter this field!");
                } else {
                    if ($("#password_confirmation").val() == $("#password").val()) {
                        $("#password_confirmation").next().text("");
                    } else {
                        $("#password_confirmation").next().text("Don't match with password!");
                    }
                }
                var boolean =
                    $("#password").next().text() == "" &&
                    $("#password_confirmation").next().text() == "" &&
                    $("#current-password").next().text() == "";
                if (boolean &&  $("#password").val() &&  $("#password_confirmation").val() &&  $("#current-password").val()) {
                    $('form').unbind('submit').submit();
                }
            });
    });

</script>