<div id="groups" class="container groups main">
    <div class="groups-banner">
        <img src="/images/baseimg/groups-icon.png" alt="" class="groups-banner__icon">
        <div class="groups-banner__content">
            <h1 class="groups-banner__heading">Groups</h1>
            <span class="groups-banner__text">Browse all the members of the community!</span>
        </div>
    </div>
    <div class="groups-filters">
        <div class="groups-filters__search">
            <input type="text"  class="groups-filters__input">
            <div class="groups-filters__placeholder">Seacher Groups</div>
            <div class="groups-filters__icon">
                <i class="fas fa-search header-seach-icon"></i>
            </div>
        </div>
        <div class="groups-filters__order">
            <select class="groups-filters__section">
                <option value="1" class="groups-filters__option">Alphabetical</option>
                <option value="2" class="groups-filters__option">Number Of Members</option>
                <option value="3" class="groups-filters__option">Number Of Posts</option>
            </select>
            <div class="groups-filters__title">Order By</div>
        </div>
        <div class="groups-filters__grids">
            <div class="groups-filters__grids-content">
                <svg id="svg-big-grid-view" class="groups-filters__grids-icon big-grid active" viewBox="0 0 20 20" preserveAspectRatio="xMinYMin meet">
                    <path d="M16,20H4c-2.209,0-4-1.791-4-4V4c0-2.209,1.791-4,4-4h12c2.209,0,4,1.791,4,4v12C20,18.209,18.209,20,16,20z M2,16c0,1.102,0.896,2,2,2h5v-7H2V16z M4,2C2.896,2,2,2.896,2,4v5h7V2H4z M18,4c0-1.104-0.897-2-2-2h-5v7h7V4z M18,11h-7v7h5c1.103,0,2-0.898,2-2V11z"></path>
                </svg>
                <div class="groups-filters__grids-icon-hover">Big Grid</div>
            </div>
            <div class="groups-filters__grids-content ">
                <svg id="svg-small-grid-view" class="groups-filters__grids-icon small-grid" viewBox="0 0 20 20" preserveAspectRatio="xMinYMin meet">
                    <path d="M16,20H4c-2.209,0-4-1.791-4-4V4c0-2.209,1.791-4,4-4h12c2.209,0,4,1.791,4,4v12C20,18.209,18.209,20,16,20z M12,18v-4H8v4H12z M2,16c0,1.102,0.896,2,2,2h2v-4H2V16z M6,2H4C2.896,2,2,2.896,2,4v2h4V2z M2,8v4h4V8H2z M12,2H8v4h4V2z M8,8v4h4V8H8z M18,4c0-1.103-0.897-2-2-2h-2v4h4V4z M18,8h-4v4h4V8zM18,14h-4v4h2c1.103,0,2-0.898,2-2V14z"></path>
                </svg>
                <div class="groups-filters__grids-icon-hover">Small Grid</div>
            </div>
            <div class="groups-filters__grids-content">
                <svg id="svg-list-grid-view" class="groups-filters__grids-icon list-grid" viewBox="0 0 20 20" preserveAspectRatio="xMinYMin meet">
                    <path d="M16,20H4c-2.209,0-4-1.791-4-4V4c0-2.209,1.791-4,4-4h12c2.209,0,4,1.791,4,4v12C20,18.209,18.209,20,16,20z M2,16c0,1.102,0.896,2,2,2h2v-4H2V16z M6,2H4C2.896,2,2,2.896,2,4v2h4V2z M2,8v4h4V8H2z M18,4c0-1.103-0.897-2-2-2H8v4h10V4z M18,8H8v4h10V8z M18,14H8v4h8c1.103,0,2-0.898,2-2V14z"></path>
                </svg>
                <div class="groups-filters__grids-icon-hover">List Grid</div>
            </div>
        </div>
    </div>
    <div class="row list-groups">
        <div class="col-sm-4 .col-md-4 col-6 col-lg-4 ">
            <div class="list-groups__member">
                <img src="/images/baseimg/5f6e4af540c4f-bp-cover-image.jpg" class="list-groups__background" alt="">
                <div class="list-groups__info">
                    <a href="" class="list-groups__name-link">
                        <div class="list-groups__name">
                            Gaming Video Creator
                        </div>
                    </a>
                    <a href="" class="list-groups__name-link">
                        <div class="list-groups__nickname">@gaming-watchtower</div>
                    </a>
                </div>
                <div class="list-groups__status">
                    <div class="list-groups__post">
                        <div class="list-groups__post-number posts-numbers">10</div>
                        <div>
                            Member
                        </div> 
                    </div>
                    <div class="list-groups__post list-groups__post-special">
                        <div class="list-groups__post-number number-friend">5</div>
                        <div>
                            Post
                        </div> 
                    </div>
                </div>
                <div class="groups-about">
                    <span>About</span>
                    <div class="about-info">
                        <i class="fas fa-lock"></i>
                        <div class="about-info__box">
                            <p class="about-info__box-title">Private</p>
                            <p class="about-info__box-detail">Only members can see who's in the group and what they post.</p>
                        </div>
                    </div>
                    <div class="about-info">
                        <i class="far fa-eye"></i>
                        <div class="about-info__box">
                            <p class="about-info__box-title">Visible</p>
                            <p class="about-info__box-detail">Anyone can find this group.</p>
                        </div>
                    </div>
                    <div class="about-info">
                        <i class="fas fa-history"></i>
                        <div class="about-info__box">
                            <p class="about-info__box-title">History</p>
                            <p class="about-info__box-detail">Group created on May 9, 2020.</p>
                        </div>
                    </div>
                </div>
                <a href="" class="list-groups__avata-link">
                    <img src="/images/baseimg/jeshoots-com-250229-unsplash-584x389.jpg" class="list-members__avata"></img>
                </a>
            </div>
        </div>
        <div class="col-sm-4 .col-md-4 col-6 col-lg-4 ">
            <div class="list-groups__member">
                <img src="/images/baseimg/125567116_10222037693864792_3083228917287898622_o.jpg" class="list-groups__background" alt="">
                <div class="list-groups__info">
                    <a href="" class="list-groups__name-link">
                        <div class="list-groups__name">
                            UIT K13 (Khóa 2018)
                        </div>
                    </a>
                    <a href="" class="list-groups__name-link">
                        <div class="list-groups__nickname">...</div>
                    </a>
                </div>
                <div class="list-groups__status">
                    <div class="list-groups__post">
                        <div class="list-groups__post-number posts-numbers">4000</div>
                        <div>
                            Member
                        </div> 
                    </div>
                    <div class="list-groups__post list-groups__post-special">
                        <div class="list-groups__post-number number-friend">2000</div>
                        <div>
                            Post
                        </div> 
                    </div>
                </div>
                <div class="groups-about">
                    <span>About</span>
                    <div class="about-info">
                        <i class="fas fa-lock"></i>
                        <div class="about-info__box">
                            <p class="about-info__box-title">Public</p>
                            <p class="about-info__box-detail">Only members can see who's in the group and what they post.</p>
                        </div>
                    </div>
                    <div class="about-info">
                        <i class="far fa-eye"></i>
                        <div class="about-info__box">
                            <p class="about-info__box-title">Visible</p>
                            <p class="about-info__box-detail">Anyone can find this group.</p>
                        </div>
                    </div>
                    <div class="about-info">
                        <i class="fas fa-history"></i>
                        <div class="about-info__box">
                            <p class="about-info__box-title">History</p>
                            <p class="about-info__box-detail">Group created on September 14, 2017. Name last changed on July 12, 2018.</p>
                        </div>
                    </div>
                </div>
                <a href="" class="list-groups__avata-link">
                    <img src="/images/baseimg/125567116_10222037693864792_3083228917287898622_o.jpg" class="list-members__avata"></img>
                </a>
            </div>
        </div>
        <div class="col-sm-4 .col-md-4 col-6 col-lg-4 ">
            <div class="list-groups__member">
                <img src="/images/baseimg/12347744_1662210687383816_4840286243424943150_n.jpg" class="list-groups__background" alt="">
                <div class="list-groups__info">
                    <a href="" class="list-groups__name-link">
                        <div class="list-groups__name">
                            We are one!!!
                        </div>
                    </a>
                    <a href="" class="list-groups__name-link">
                        <div class="list-groups__nickname">...</div>
                    </a>
                </div>
                <div class="list-groups__status">
                    <div class="list-groups__post">
                        <div class="list-groups__post-number posts-numbers">37</div>
                        <div>
                            Member
                        </div> 
                    </div>
                    <div class="list-groups__post list-groups__post-special">
                        <div class="list-groups__post-number number-friend">50</div>
                        <div>
                            Post
                        </div> 
                    </div>
                </div>
                <div class="groups-about">
                    <span>About</span>
                    <div class="about-info">
                        <i class="fas fa-lock"></i>
                        <div class="about-info__box">
                            <p class="about-info__box-title">Private</p>
                            <p class="about-info__box-detail">Only members can see who's in the group and what they post.</p>
                        </div>
                    </div>
                    <div class="about-info">
                        <i class="far fa-eye"></i>
                        <div class="about-info__box">
                            <p class="about-info__box-title">Visible</p>
                            <p class="about-info__box-detail">Anyone can find this group.</p>
                        </div>
                    </div>
                    <div class="about-info">
                        <i class="fas fa-history"></i>
                        <div class="about-info__box">
                            <p class="about-info__box-title">History</p>
                            <p class="about-info__box-detail">Group created on October 9, 2015</p>
                        </div>
                    </div>
                </div>
                <a href="" class="list-groups__avata-link">
                    <img src="/images/baseimg/117251156_780671119335149_3490588943834725576_o copy.jpg" class="list-members__avata"></img>
                </a>
            </div>
        </div>
        <div class="col-sm-4 .col-md-4 col-6 col-lg-4 ">
            <div class="list-groups__member">
                <img src="/images/baseimg/25074755_1169805606486672_2911866697935408951_o.jpg" class="list-groups__background" alt="">
                <div class="list-groups__info">
                    <a href="" class="list-groups__name-link">
                        <div class="list-groups__name">
                            Bộ tộc Mixigaming
                        </div>
                    </a>
                    <a href="" class="list-groups__name-link">
                        <div class="list-groups__nickname">@mixigaming</div>
                    </a>
                </div>
                <div class="list-groups__status">
                    <div class="list-groups__post">
                        <div class="list-groups__post-number posts-numbers">6000</div>
                        <div>
                            Member
                        </div> 
                    </div>
                    <div class="list-groups__post list-groups__post-special">
                        <div class="list-groups__post-number number-friend">8000</div>
                        <div>
                            Post
                        </div> 
                    </div>
                </div>
                <div class="groups-about">
                    <span>About</span>
                    <div class="about-info">
                        <i class="fas fa-lock"></i>
                        <div class="about-info__box">
                            <p class="about-info__box-title">Private</p>
                            <p class="about-info__box-detail">Only members can see who's in the group and what they post.</p>
                        </div>
                    </div>
                    <div class="about-info">
                        <i class="far fa-eye"></i>
                        <div class="about-info__box">
                            <p class="about-info__box-title">Visible</p>
                            <p class="about-info__box-detail">Anyone can find this group.</p>
                        </div>
                    </div>
                    <div class="about-info">
                        <i class="fas fa-history"></i>
                        <div class="about-info__box">
                            <p class="about-info__box-title">History</p>
                            <p class="about-info__box-detail">Group created on May 9, 2017. Name last changed on September 22, 2017.</p>
                        </div>
                    </div>
                </div>
                <a href="" class="list-groups__avata-link">
                    <img src="/images/baseimg/118715108_338880747261111_5322256351393249662_n.jpg" class="list-members__avata"></img>
                </a>
            </div>
        </div>
        <div class="col-sm-4 .col-md-4 col-6 col-lg-4 ">
            <div class="list-groups__member">
                <img src="/images/baseimg/tinh-gia.jpg" class="list-groups__background" alt="">
                <div class="list-groups__info">
                    <a href="" class="list-groups__name-link">
                        <div class="list-groups__name">
                           THPT Tĩnh Gia II
                        </div>
                    </a>
                    <a href="" class="list-groups__name-link">
                        <div class="list-groups__nickname">...</div>
                    </a>
                </div>
                <div class="list-groups__status">
                    <div class="list-groups__post">
                        <div class="list-groups__post-number posts-numbers">42</div>
                        <div>
                            Member
                        </div> 
                    </div>
                    <div class="list-groups__post list-groups__post-special">
                        <div class="list-groups__post-number number-friend">60</div>
                        <div>
                            Post
                        </div> 
                    </div>
                </div>
                <div class="groups-about">
                    <span>About</span>
                    <div class="about-info">
                        <i class="fas fa-lock"></i>
                        <div class="about-info__box">
                            <p class="about-info__box-title">Public</p>
                            <p class="about-info__box-detail">Only members can see who's in the group and what they post.</p>
                        </div>
                    </div>
                    <div class="about-info">
                        <i class="far fa-eye"></i>
                        <div class="about-info__box">
                            <p class="about-info__box-title">Visible</p>
                            <p class="about-info__box-detail">Anyone can find this group.</p>
                        </div>
                    </div>
                    <div class="about-info">
                        <i class="fas fa-history"></i>
                        <div class="about-info__box">
                            <p class="about-info__box-title">History</p>
                            <p class="about-info__box-detail">Group created on September 14, 2017. Name last changed on July 12, 2019.</p>
                        </div>
                    </div>
                </div>
                <a href="" class="list-groups__avata-link">
                    <img src="/images/baseimg/tinh-gia.jpg" class="list-members__avata"></img>
                </a>
            </div>
        </div>
    </div>
</div>