<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%-locals.title%></title>
        <link
            rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
            crossOrigin="anonymous"
        />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <style>
            .form-message {
                display: block;
                font-size: 1.4rem;
                line-height: 1.6rem;
                padding: 4px 0 0;
                color: #f33a58;
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
        <div class="form-gap" style=" padding-top: 70px"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div action="#" method="POST"class="panel-body">
                            <div class="text-center">
                                <a href="/login">
                                    <i class="far fa-arrow-alt-left"></i>
                                     Back to Login
                                </a>
                                <h3><i class="fa fa-lock fa-4x"></i></h3>
                                <h2 class="text-center">Forgot Password?</h2>
                                <p>You can reset your password here.</p>
                                <div class="panel-body">
                                    <form
                                        id="register-form"
                                        role="form"
                                        autocomplete="off"
                                        class="form"
                                        action="/login/forgot"
                                        method="post"
                                    >
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"
                                                    ><i
                                                        class="
                                                            glyphicon
                                                            glyphicon-envelope
                                                            color-blue
                                                        "
                                                    ></i
                                                ></span>
                                                <input
                                                    id="email"
                                                    name="email"
                                                    placeholder="email address"
                                                    class="form-control"
                                                    type="email"
                                                    required
                                                />
                                            </div>
                                        </div>
                                        <% if( locals.err) { %>
                                            <span class="form-message"><%= locals.err %></span>
                                        <% } else { %>
                                            <span class="form-message"></span>
                                        <% } %>
                                        <% if( locals.success) { %>
                                            <span class="form-message" style="background-color: greenyellow; color: #413f3f;"><%= locals.success%></span>
                                            <div class="form-group">
                                                <a
                                                    href="/login"
                                                    name="recover-submit"
                                                    class="
                                                        btn
                                                        btn-lg
                                                        btn-primary
                                                        btn-block
                                                    "
                                                >
                                                <i class="far fa-arrow-alt-left"></i>
                                                Back to Login</a>
                                            </div>
                                        <% } else { %>
                                        
                                            <div class="form-group">
                                                <input
                                                    name="recover-submit"
                                                    class="
                                                        btn
                                                        btn-lg
                                                        btn-primary
                                                        btn-block
                                                    "
                                                    value="Reset Password"
                                                    type="submit"
                                                />
                                            </div>
                                        <% } %>
                                        <input
                                            type="hidden"
                                            class="hide"
                                            name="token"
                                            id="token"
                                            value=""
                                        />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
         $("#email").keyup(function () {
            
            if (
                /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(
                    $("#email").val()
                )
            ) {
                $(".form-message").text("");
            } else {
                $(".form-message").text("This field must be email");
            }
        });
    </script>
</html>
