
#change-password .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#change-password .header-hello {
    font-size: 24px;
    color: white;
    margin: 0;
}
#change-password .header-title {
    font-size: 96px;
    color: white;
    font-weight: 700;
    margin: 0 0 36px 0;
}
#change-password .text {
    width: 400px;
    color: white;
    font-size: 18px;
    margin-left: 20px;
}
#change-password .text-1 {
    font-weight: 700;
}
#change-password .text-2 {
    font-weight: 700;
}

html {
    font-size: 62.5%;
}
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}
.form {
    width: 360px;
    min-height: 100px;
    padding: 0 24px 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 0 24px 24px 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}
.form .heading {
    font-size: 2rem;
}
.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.form-control:hover {
    border-color: #1dbfaf;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
    color: #f33a58;
}

.form-submit {
    outline: none;
    background-color: #1dbfaf;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}
.form-submit-1 {
    outline: none;
    background-color: #1dbfaf;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}
.form-submit:hover {
    background-color: #1ac7b6;
}

.spacer {
    margin-top: 36px;
}
.turn-pick {
    width: 360px;
    padding: 16px 24px 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px 24px 0 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
    display: flex;
    justify-content: space-around;
}
.resgiter {
    font-size: 14px;
    padding: 8px 36px;
    cursor: pointer;
}
.login {
    font-size: 14px;
    padding: 8px 47px;
    cursor: pointer;
}
.active {
    border-bottom: 2px solid #1dbfaf;
}
.hide-show {
    display: none;
}
.back-home {
    margin-left: 36px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.back-home:hover i {
    color: #1ac7b6;
}
.back-home:hover span {
    color: #1ac7b6;
}
.back-home i {
    font-size: 20px;
    color: #b6b6b6;
}
.back-home span {
    font-size: 14px;
    color: #b6b6b6;
    margin-left: 8px;
}

/* model */
.modal {
    font-size: 30px;
}

.modal-header {
    font-size: 20px;
}

.modal-title {
    font-size: 15px;
    color: white;
}

.btn {
    font-size: 13px;
}

.close span {
    font-size: 24px;
}

.alert-error {
    font-size: 15px;
    background-color: #f8d7da;
    border: 1px solid #9c1f1f;
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 10px;
    color: #721c24;
    display: flex;
    justify-content: center;
}

/* forgot password */

.forgot-title {
    width:100%;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color:  rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgb(119, 114, 114);
}

.forgot-title a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    
}


/* loading effect */
.loading-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
  
.lds-grid {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 60px), calc(-50% - 80px));  
  }
  .lds-grid div {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fdd;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 0px;
    left: 0px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 0px;
    left: 60px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 0px;
    left: 120px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 60px;
    left: 0px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 60px;
    left: 60px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 60px;
    left: 120px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 120px;
    left: 0px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 120px;
    left: 60px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 120px;
    left: 120px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  

  .form-message-1 {
    display: flex;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 10px;
    color: #f33a58;
    justify-content: center;
    margin-bottom: 17px;
    background-color: rgba(0, 0, 0, 0.1);
}