<div id="newfeeds" class="home container main">
    <div
        class="banner"
        style="background-image: url(/images/baseimg/banner-bg.png)"
    >
        <img
            src="/images/baseimg/newsfeed-icon.png"
            alt=""
            class="banner-icon"
        />
        <div class="banner-info">
            <p class="banner-info__newsfeed">Newfeed</p>
            <p class="banner-info__check">
                Check what your friends have been up to!
            </p>
        </div>
    </div>
    <div class="news grid__row">
        <div class="new-left grid__column-3">
            <div class="newest">
                <p class="heading">Newest Members</p>
                <div class="user">
                    <div class="user-info">
                        <img
                            src="/images/baseimg/117251156_780671119335149_3490588943834725576_o copy 5.jpg"
                            alt=""
                            class="user-info__img"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name">Tống Hoàng</a>
                            <p class="user-info__list-status">
                                active 1 day ago
                            </p>
                        </div>
                    </div>
                    <div class="user-info">
                        <img
                            src="/images/baseimg/118391134_850516805482962_3300234423537028625_n.jpg"
                            alt=""
                            class="user-info__img"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name">Nguyễn Hưng</a>
                            <p class="user-info__list-status">
                                active 2 hours ago
                            </p>
                        </div>
                    </div>
                    <div class="user-info">
                        <img
                            src="/images/baseimg/anhdaidien1.jpg"
                            alt=""
                            class="user-info__img"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name">Nguyễn Tuấn</a>
                            <p class="user-info__list-status">
                                active 3 hours ago
                            </p>
                        </div>
                    </div>
                    <div class="user-info">
                        <img
                            src="/images/baseimg/avata1.jpg"
                            alt=""
                            class="user-info__img"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name">Đức Dũng</a>
                            <p class="user-info__list-status">
                                active 15 minutes ago
                            </p>
                        </div>
                    </div>
                    <div class="user-info">
                        <img
                            src="/images/baseimg/avata2.jpg"
                            alt=""
                            class="user-info__img"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name">Khoa Đăng</a>
                            <p class="user-info__list-status">
                                active 2 days ago
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-center grid__column-6">
            <div class="quick-filter">
                <p class="quick-filters-tab">All Updates</p>
                <div class="quick-filters-form">
                    <span class="show">Show</span>
                    <select name="" id="">
                        <option value="Everything">Everything</option>
                        <option value="Status">Status</option>
                        <option value="Share">Share</option>
                        <option value="Media">Media</option>
                    </select>
                </div>
            </div>
            <div class="widget-box media">
                <div class="widget-box-status">
                    <div class="user-status">
                        <div class="user-status__avatar">
                            <img
                                src="/images/baseimg/118391134_850516805482962_3300234423537028625_n.jpg"
                                alt=""
                            />
                        </div>
                        <div class="user-status__info">
                            <span class="user-status__info-name">
                                <a href="">Nguyễn Hưng</a>
                                posted an update
                            </span>
                            <p class="user-status__info-time">2 days ago</p>
                        </div>
                    </div>
                    <p class="user-status-text">
                        Check out this tutorial!!
                        <a
                            href=" https://www.youtube.com/watch?v=elFHdvvessk"
                            target="_blank"
                        >
                            https://www.youtube.com/watch?v=elFHdvvessk</a
                        >
                    </p>
                </div>
                <iframe
                    width="100%"
                    height="315"
                    src="https://www.youtube.com/embed/elFHdvvessk"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>

                <div class="content-actions">
                    <div class="content-action content-action__react">
                        <i class="far fa-thumbs-up"></i>
                        <span class="content-action-text">React</span>
                    </div>
                    <div class="content-action">
                        <i class="far fa-comment-alt"></i>
                        <span class="content-action-text">Comment</span>
                    </div>
                    <div class="content-action">
                        <i class="fas fa-share"></i>
                        <span class="content-action-text">Share</span>
                    </div>
                </div>
            </div>
            <div class="widget-box share">
                <div class="widget-box-status">
                    <div class="user-status">
                        <div class="user-status__avatar">
                            <img
                                src="/images/baseimg/118391134_850516805482962_3300234423537028625_n.jpg"
                                alt=""
                            />
                        </div>
                        <div class="user-status__info">
                            <span class="user-status__info-name">
                                <a href="">Nguyễn Hưng</a>
                                shared a post
                            </span>
                            <p class="user-status__info-time">4 days ago</p>
                        </div>
                    </div>
                    <p class="user-status-text">This is a shared blog post!</p>
                </div>
                <div class="box-share">
                    <div class="posted-item-new">
                        <a href="">
                            <div
                                class="posted-item-image"
                                style="
                                    background-image: url(/images/baseimg/lukas-eggers-_rKl0w9BdiM-unsplash.jpg);
                                "
                            ></div>
                        </a>
                        <div class="content-action-post">
                            <div class="content-action-active">
                                <div class="content-action-icon">
                                    <i
                                        class="
                                            fab
                                            fa-gratipay
                                            content-action-react
                                            content-action-love
                                        "
                                    ></i>
                                    <i
                                        class="
                                            fas
                                            fa-angry
                                            content-action-react
                                            content-action-care
                                            content-action-react__move-1
                                        "
                                    ></i>
                                </div>
                                <span class="content-action-quantity">2</span>
                                <div class="react-modal">
                                    <div class="react-box">
                                        <div class="react-box__title">
                                            <ul class="react-box__title-list">
                                                <li
                                                    class="
                                                        react-box__title-item
                                                        react-box__title-all
                                                        active-blog
                                                    "
                                                >
                                                    All: 2
                                                </li>
                                                <li
                                                    class="
                                                        react-box__title-item
                                                        react-box__title-love
                                                    "
                                                >
                                                    <i
                                                        class="
                                                            fab
                                                            fa-gratipay
                                                            content-action-love
                                                        "
                                                    ></i>
                                                    <span class="react-quantity"
                                                        >1</span
                                                    >
                                                </li>
                                                <li
                                                    class="
                                                        react-box__title-item
                                                        react-box__title-care
                                                    "
                                                >
                                                    <i
                                                        class="
                                                            fas
                                                            fa-angry
                                                            content-action-react
                                                            content-action-care
                                                        "
                                                    ></i>
                                                    <span class="react-quantity"
                                                        >1</span
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="users-box users-box-all">
                                            <div class="users-box__list">
                                                <div class="user-info-blog">
                                                    <img
                                                        src="/images/baseimg/117251156_780671119335149_3490588943834725576_o.jpg"
                                                        alt=""
                                                        class="user-info__img"
                                                    />
                                                    <div
                                                        class="
                                                            user-info__list-blog
                                                        "
                                                    >
                                                        <a
                                                            class="
                                                                user-info__list-nameblog
                                                            "
                                                            >Tống Hoàng</a
                                                        >
                                                    </div>
                                                </div>
                                                <div class="add-box">
                                                    <i
                                                        class="fas fa-user-plus"
                                                    ></i>
                                                    <span class="add-title"
                                                        >Add Friend</span
                                                    >
                                                </div>
                                            </div>
                                            <div class="users-box__list">
                                                <div class="user-info-blog">
                                                    <img
                                                        src="/images/baseimg/5f6e4a8528f4e-bpfull.jpg"
                                                        alt=""
                                                        class="user-info__img"
                                                    />
                                                    <div
                                                        class="
                                                            user-info__list-blog
                                                        "
                                                    >
                                                        <a
                                                            class="
                                                                user-info__list-nameblog
                                                            "
                                                            >Nguyễn Hưng</a
                                                        >
                                                    </div>
                                                </div>
                                                <div class="add-box">
                                                    <i
                                                        class="fas fa-user-plus"
                                                    ></i>
                                                    <span class="add-title"
                                                        >Add Friend</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="
                                                users-box users-box-love
                                                users-box__show
                                            "
                                        >
                                            <div class="users-box__list">
                                                <div class="user-info-blog">
                                                    <img
                                                        src="/images/baseimg/117251156_780671119335149_3490588943834725576_o.jpg"
                                                        alt=""
                                                        class="user-info__img"
                                                    />
                                                    <div
                                                        class="
                                                            user-info__list-blog
                                                        "
                                                    >
                                                        <a
                                                            class="
                                                                user-info__list-nameblog
                                                            "
                                                            >Tống Hoàng</a
                                                        >
                                                    </div>
                                                </div>
                                                <div class="add-box">
                                                    <i
                                                        class="fas fa-user-plus"
                                                    ></i>
                                                    <span class="add-title"
                                                        >Add Friend</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="
                                                users-box users-box-care
                                                users-box__show
                                            "
                                        >
                                            <div class="users-box__list">
                                                <div class="user-info-blog">
                                                    <img
                                                        src="/images/baseimg/5f6e4a8528f4e-bpfull.jpg"
                                                        alt=""
                                                        class="user-info__img"
                                                    />
                                                    <div
                                                        class="
                                                            user-info__list-blog
                                                        "
                                                    >
                                                        <a
                                                            class="
                                                                user-info__list-nameblog
                                                            "
                                                            >Nguyễn Hưng</a
                                                        >
                                                    </div>
                                                </div>
                                                <div class="add-box">
                                                    <i
                                                        class="fas fa-user-plus"
                                                    ></i>
                                                    <span class="add-title"
                                                        >Add Friend</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="react-modal__quite">
                                            <i class="fas fa-times"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-action-box">
                                <a href="" class="content-action-box__react"
                                    >0 Comments</a
                                >
                                <a href="" class="content-action-box__share"
                                    >0 Shares</a
                                >
                            </div>
                        </div>
                        <div class="posted-item-info">
                            <p class="posted-item-typetime">
                                <a href="">GAMING</a>
                                - SEPTEMBER 2,2020
                            </p>
                            <p class="posted-item-title">
                                Here’s the how and why did I became a full time
                                Gaming Streamer
                            </p>
                            <p class="posted-item-text">
                                An online streamer, also known as a live
                                streamer, internet streamer, or streamer, is a
                                person who broadcasts themself online through a
                                live stream or pre-recorded video. The scope of
                                online streamers has grown to includ...
                            </p>
                            <a href="" class="posted-item-link">READ MORE...</a>
                        </div>
                    </div>
                </div>
                <div class="content-actions">
                    <div class="content-action content-action__react">
                        <i class="far fa-thumbs-up"></i>
                        <span class="content-action-text">React</span>
                    </div>
                    <div class="content-action">
                        <i class="far fa-comment-alt"></i>
                        <span class="content-action-text">Comment</span>
                    </div>
                    <div class="content-action">
                        <i class="fas fa-share"></i>
                        <span class="content-action-text">Share</span>
                    </div>
                </div>
            </div>
            <div class="widget-box media">
                <div class="widget-box-status">
                    <div class="user-status">
                        <div class="user-status__avatar">
                            <img
                                src="/images/baseimg/117251156_780671119335149_3490588943834725576_o.jpg"
                                alt=""
                            />
                        </div>
                        <div class="user-status__info">
                            <span class="user-status__info-name">
                                <a href="">Tống Hoàng</a>
                                posted an update
                            </span>
                            <p class="user-status__info-time">1 week ago</p>
                        </div>
                    </div>
                    <p class="user-status-text">Kevin De Bruyne!</p>
                </div>
                <img
                    style="max-width: 100%"
                    src="/images/baseimg/KDB.jpg"
                    alt=""
                />
                <div class="content-actions">
                    <div class="content-action content-action__react">
                        <i class="far fa-thumbs-up"></i>
                        <span class="content-action-text">React</span>
                    </div>
                    <div class="content-action">
                        <i class="far fa-comment-alt"></i>
                        <span class="content-action-text">Comment</span>
                    </div>
                    <div class="content-action">
                        <i class="fas fa-share"></i>
                        <span class="content-action-text">Share</span>
                    </div>
                </div>
            </div>
            <div class="widget-box share">
                <div class="widget-box-status">
                    <div class="user-status">
                        <div class="user-status__avatar">
                            <img
                                src="/images/baseimg/118391134_850516805482962_3300234423537028625_n.jpg"
                                alt=""
                            />
                        </div>
                        <div class="user-status__info">
                            <span class="user-status__info-name">
                                <a href="">Nguyễn Hưng</a>
                                shared a post
                            </span>
                            <p class="user-status__info-time">4 days ago</p>
                        </div>
                    </div>
                    <p class="user-status-text">This is a shared blog post!</p>
                </div>
                <div class="box-share">
                    <div class="posted-item-new">
                        <a href="">
                            <div
                                class="posted-item-image"
                                style="
                                    background-image: url(/images/baseimg/muhammad-faiz-zulkeflee-qNCOVaOmzSo-unsplash-584x390.jpg);
                                "
                            ></div>
                        </a>
                        <div class="content-action-post">
                            <div class="content-action-active">
                                <div class="content-action-icon">
                                    <i
                                        class="
                                            fas
                                            fa-thumbs-up
                                            content-action-react
                                            content-action-like
                                        "
                                    ></i>
                                    <i
                                        class="
                                            fab
                                            fa-gratipay
                                            content-action-react
                                            content-action-love
                                            content-action-react__move
                                        "
                                    ></i>
                                    <i
                                        class="
                                            fas
                                            fa-angry
                                            content-action-react
                                            content-action-care
                                        "
                                    ></i>
                                </div>
                                <span class="content-action-quantity">3</span>
                                <div class="react-modal">
                                    <div class="react-box">
                                        <div class="react-box__title">
                                            <ul class="react-box__title-list">
                                                <li
                                                    class="
                                                        react-box__title-item
                                                        react-box__title-all
                                                        active-blog
                                                    "
                                                >
                                                    All: 3
                                                </li>
                                                <li
                                                    class="
                                                        react-box__title-item
                                                        react-box__title-love
                                                    "
                                                >
                                                    <i
                                                        class="
                                                            fab
                                                            fa-gratipay
                                                            content-action-love
                                                        "
                                                    ></i>
                                                    <span class="react-quantity"
                                                        >1</span
                                                    >
                                                </li>
                                                <li
                                                    class="
                                                        react-box__title-item
                                                        react-box__title-care
                                                    "
                                                >
                                                    <i
                                                        class="
                                                            fas
                                                            fa-angry
                                                            content-action-react
                                                            content-action-care
                                                        "
                                                    ></i>
                                                    <span class="react-quantity"
                                                        >1</span
                                                    >
                                                </li>
                                                <li
                                                    class="
                                                        react-box__title-item
                                                        react-box__title-like
                                                    "
                                                >
                                                    <i
                                                        class="
                                                            fas
                                                            fa-thumbs-up
                                                            content-action-react
                                                            content-action-like
                                                        "
                                                    ></i>
                                                    <span class="react-quantity"
                                                        >1</span
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="users-box users-box-all">
                                            <div class="users-box__list">
                                                <div class="user-info-blog">
                                                    <img
                                                        src="/images/baseimg/117251156_780671119335149_3490588943834725576_o.jpg"
                                                        alt=""
                                                        class="user-info__img"
                                                    />
                                                    <div
                                                        class="
                                                            user-info__list-blog
                                                        "
                                                    >
                                                        <a
                                                            class="
                                                                user-info__list-nameblog
                                                            "
                                                            >Tống Hoàng</a
                                                        >
                                                    </div>
                                                </div>
                                                <div class="add-box">
                                                    <i
                                                        class="fas fa-user-plus"
                                                    ></i>
                                                    <span class="add-title"
                                                        >Add Friend</span
                                                    >
                                                </div>
                                            </div>
                                            <div class="users-box__list">
                                                <div class="user-info-blog">
                                                    <img
                                                        src="/images/baseimg/5f6e4a8528f4e-bpfull.jpg"
                                                        alt=""
                                                        class="user-info__img"
                                                    />
                                                    <div
                                                        class="
                                                            user-info__list-blog
                                                        "
                                                    >
                                                        <a
                                                            class="
                                                                user-info__list-nameblog
                                                            "
                                                            >Nguyễn Hưng</a
                                                        >
                                                    </div>
                                                </div>
                                                <div class="add-box">
                                                    <i
                                                        class="fas fa-user-plus"
                                                    ></i>
                                                    <span class="add-title"
                                                        >Add Friend</span
                                                    >
                                                </div>
                                            </div>
                                            <div class="users-box__list">
                                                <div class="user-info-blog">
                                                    <img
                                                        src="/images/baseimg/anhdaidien1.jpg"
                                                        alt=""
                                                        class="user-info__img"
                                                    />
                                                    <div
                                                        class="
                                                            user-info__list-blog
                                                        "
                                                    >
                                                        <a
                                                            class="
                                                                user-info__list-nameblog
                                                            "
                                                            >A Tuấn</a
                                                        >
                                                    </div>
                                                </div>
                                                <div class="add-box">
                                                    <i
                                                        class="fas fa-user-plus"
                                                    ></i>
                                                    <span class="add-title"
                                                        >Add Friend</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="
                                                users-box users-box-love
                                                users-box__show
                                            "
                                        >
                                            <div class="users-box__list">
                                                <div class="user-info-blog">
                                                    <img
                                                        src="/images/baseimg/117251156_780671119335149_3490588943834725576_o.jpg"
                                                        alt=""
                                                        class="user-info__img"
                                                    />
                                                    <div
                                                        class="
                                                            user-info__list-blog
                                                        "
                                                    >
                                                        <a
                                                            class="
                                                                user-info__list-nameblog
                                                            "
                                                            >Tống Hoàng</a
                                                        >
                                                    </div>
                                                </div>
                                                <div class="add-box">
                                                    <i
                                                        class="fas fa-user-plus"
                                                    ></i>
                                                    <span class="add-title"
                                                        >Add Friend</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="
                                                users-box users-box-care
                                                users-box__show
                                            "
                                        >
                                            <div class="users-box__list">
                                                <div class="user-info-blog">
                                                    <img
                                                        src="/images/baseimg/5f6e4a8528f4e-bpfull.jpg"
                                                        alt=""
                                                        class="user-info__img"
                                                    />
                                                    <div
                                                        class="
                                                            user-info__list-blog
                                                        "
                                                    >
                                                        <a
                                                            class="
                                                                user-info__list-nameblog
                                                            "
                                                            >Nguyễn Hưng</a
                                                        >
                                                    </div>
                                                </div>
                                                <div class="add-box">
                                                    <i
                                                        class="fas fa-user-plus"
                                                    ></i>
                                                    <span class="add-title"
                                                        >Add Friend</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="
                                                users-box users-box-like
                                                users-box__show
                                            "
                                        >
                                            <div class="users-box__list">
                                                <div class="user-info-blog">
                                                    <img
                                                        src="/images/baseimg/anhdaidien1.jpg"
                                                        alt=""
                                                        class="user-info__img"
                                                    />
                                                    <div
                                                        class="
                                                            user-info__list-blog
                                                        "
                                                    >
                                                        <a
                                                            class="
                                                                user-info__list-nameblog
                                                            "
                                                            >A Tuấn</a
                                                        >
                                                    </div>
                                                </div>
                                                <div class="add-box">
                                                    <i
                                                        class="fas fa-user-plus"
                                                    ></i>
                                                    <span class="add-title"
                                                        >Add Friend</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="react-modal__quite">
                                            <i class="fas fa-times"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-action-box">
                                <a href="" class="content-action-box__react"
                                    >2 Comments</a
                                >
                                <a href="" class="content-action-box__share"
                                    >5 Shares</a
                                >
                            </div>
                        </div>
                        <div class="posted-item-info">
                            <p class="posted-item-typetime">
                                <a href="">COSPLAY</a>
                                - SEPTEMBER 19,2020
                            </p>
                            <p class="posted-item-title">
                                Take a look at all the best cosplays of the 2020
                                Anime Convention in Tokyo,...
                            </p>
                            <p class="posted-item-text">
                                Cosplay (コスプレ, kosupure), a portmanteau of
                                the words costume play, is a performance art in
                                which participants called cosplayers wear
                                costumes and fashion accessories to represent a
                                specific character. Cosplayers often in...
                            </p>
                            <a href="" class="posted-item-link">READ MORE...</a>
                        </div>
                    </div>
                </div>
                <div class="content-actions">
                    <div class="content-action content-action__react">
                        <i class="far fa-thumbs-up"></i>
                        <span class="content-action-text">React</span>
                    </div>
                    <div class="content-action">
                        <i class="far fa-comment-alt"></i>
                        <span class="content-action-text">Comment</span>
                    </div>
                    <div class="content-action">
                        <i class="fas fa-share"></i>
                        <span class="content-action-text">Share</span>
                    </div>
                </div>
            </div>
            <div class="widget-box statuss">
                <div class="widget-box-status">
                    <div class="user-status">
                        <div class="user-status__avatar">
                            <img
                                src="/images/baseimg/117251156_780671119335149_3490588943834725576_o.jpg"
                                alt=""
                            />
                        </div>
                        <div class="user-status__info">
                            <span class="user-status__info-name">
                                <a href="">Tống Hoàng</a>
                                posted an update in the group
                                <span>UIT K13</span>
                            </span>
                            <p class="user-status__info-time">1 week ago</p>
                        </div>
                    </div>
                    <p class="user-status-text">Thanks for letting me join!!</p>
                </div>
                <div class="content-actions">
                    <div class="content-action content-action__react">
                        <i class="far fa-thumbs-up"></i>
                        <span class="content-action-text">React</span>
                    </div>
                    <div class="content-action">
                        <i class="far fa-comment-alt"></i>
                        <span class="content-action-text">Comment</span>
                    </div>
                    <div class="content-action">
                        <i class="fas fa-share"></i>
                        <span class="content-action-text">Share</span>
                    </div>
                </div>
            </div>
            <div class="widget-box media">
                <div class="widget-box-status">
                    <div class="user-status">
                        <div class="user-status__avatar">
                            <img
                                src="/images/baseimg/117251156_780671119335149_3490588943834725576_o.jpg"
                                alt=""
                            />
                        </div>
                        <div class="user-status__info">
                            <span class="user-status__info-name">
                                <a href="">Bearded Wonder</a>
                                updated his cover photo
                            </span>
                            <p class="user-status__info-time">3 months ago</p>
                        </div>
                    </div>
                    <p class="user-status-text">
                        What do you think of my new cover image?
                    </p>
                </div>
                <img
                    style="max-width: 100%"
                    src="/images/baseimg/goc-anh-dep-toa-nha-cao-nhat-viet-nam-thap-land-mark-81-tang-2.jpg"
                    alt=""
                />
                <div class="content-actions">
                    <div class="content-action content-action__react">
                        <i class="far fa-thumbs-up"></i>
                        <span class="content-action-text">React</span>
                    </div>
                    <div class="content-action">
                        <i class="far fa-comment-alt"></i>
                        <span class="content-action-text">Comment</span>
                    </div>
                    <div class="content-action">
                        <i class="fas fa-share"></i>
                        <span class="content-action-text">Share</span>
                    </div>
                </div>
            </div>
            <div class="widget-box statuss">
                <div class="widget-box-status">
                    <div class="user-status">
                        <div class="user-status__avatar">
                            <img src="/images/baseimg/anhdaidien1.jpg" alt="" />
                        </div>
                        <div class="user-status__info">
                            <span class="user-status__info-name">
                                <a href="">A Tuấn</a>
                                updated status
                            </span>
                            <p class="user-status__info-time">4 days ago</p>
                        </div>
                    </div>
                    <p class="user-status-text">
                        My Christmas joy is all of you. I am very happy that
                        everyone is by my side. Hope the sweetest things will
                        come to everyone in our family. Merry Christmas family!
                    </p>
                </div>
                <img
                    style="max-width: 100%"
                    src="/images/baseimg/hinh-anh-chuc-giang-sinh-dep-10.jpg"
                    alt=""
                />
                <div class="content-actions">
                    <div class="content-action content-action__react">
                        <i class="far fa-thumbs-up"></i>
                        <span class="content-action-text">React</span>
                    </div>
                    <div class="content-action">
                        <i class="far fa-comment-alt"></i>
                        <span class="content-action-text">Comment</span>
                    </div>
                    <div class="content-action">
                        <i class="fas fa-share"></i>
                        <span class="content-action-text">Share</span>
                    </div>
                </div>
            </div>
            <div class="widget-box share">
                <div class="widget-box-status">
                    <div class="user-status">
                        <div class="user-status__avatar">
                            <img src="/images/baseimg/anhdaidien1.jpg" alt="" />
                        </div>
                        <div class="user-status__info">
                            <span class="user-status__info-name">
                                <a href="">A Tuấn</a>
                                shared a post
                            </span>
                            <p class="user-status__info-time">4 days ago</p>
                        </div>
                    </div>
                    <p class="user-status-text">This is a shared blog post!</p>
                </div>
                <div class="box-share">
                    <div class="posted-item-new">
                        <a href="">
                            <div
                                class="posted-item-image"
                                style="
                                    background-image: url(/images/baseimg/jeshoots-com-250229-unsplash-584x389.jpg);
                                "
                            ></div>
                        </a>
                        <div class="content-action-post">
                            <div class="content-action-active">
                                <div class="content-action-icon">
                                    <i
                                        class="
                                            fab
                                            fa-gratipay
                                            content-action-react
                                            content-action-love
                                        "
                                    ></i>
                                    <i
                                        class="
                                            fas
                                            fa-angry
                                            content-action-react
                                            content-action-care
                                            content-action-react__move-1
                                        "
                                    ></i>
                                </div>
                                <span class="content-action-quantity">2</span>
                                <div class="react-modal">
                                    <div class="react-box">
                                        <div class="react-box__title">
                                            <ul class="react-box__title-list">
                                                <li
                                                    class="
                                                        react-box__title-item
                                                        react-box__title-all
                                                        active-blog
                                                    "
                                                >
                                                    All: 2
                                                </li>
                                                <li
                                                    class="
                                                        react-box__title-item
                                                        react-box__title-love
                                                    "
                                                >
                                                    <i
                                                        class="
                                                            fab
                                                            fa-gratipay
                                                            content-action-love
                                                        "
                                                    ></i>
                                                    <span class="react-quantity"
                                                        >1</span
                                                    >
                                                </li>
                                                <li
                                                    class="
                                                        react-box__title-item
                                                        react-box__title-care
                                                    "
                                                >
                                                    <i
                                                        class="
                                                            fas
                                                            fa-angry
                                                            content-action-react
                                                            content-action-care
                                                        "
                                                    ></i>
                                                    <span class="react-quantity"
                                                        >1</span
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="users-box users-box-all">
                                            <div class="users-box__list">
                                                <div class="user-info-blog">
                                                    <img
                                                        src="/images/baseimg/117251156_780671119335149_3490588943834725576_o.jpg"
                                                        alt=""
                                                        class="user-info__img"
                                                    />
                                                    <div
                                                        class="
                                                            user-info__list-blog
                                                        "
                                                    >
                                                        <a
                                                            class="
                                                                user-info__list-nameblog
                                                            "
                                                            >Tống Hoàng</a
                                                        >
                                                    </div>
                                                </div>
                                                <div class="add-box">
                                                    <i
                                                        class="fas fa-user-plus"
                                                    ></i>
                                                    <span class="add-title"
                                                        >Add Friend</span
                                                    >
                                                </div>
                                            </div>
                                            <div class="users-box__list">
                                                <div class="user-info-blog">
                                                    <img
                                                        src="/images/baseimg/5f6e4a8528f4e-bpfull.jpg"
                                                        alt=""
                                                        class="user-info__img"
                                                    />
                                                    <div
                                                        class="
                                                            user-info__list-blog
                                                        "
                                                    >
                                                        <a
                                                            class="
                                                                user-info__list-nameblog
                                                            "
                                                            >Nguyễn Hưng</a
                                                        >
                                                    </div>
                                                </div>
                                                <div class="add-box">
                                                    <i
                                                        class="fas fa-user-plus"
                                                    ></i>
                                                    <span class="add-title"
                                                        >Add Friend</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="
                                                users-box users-box-love
                                                users-box__show
                                            "
                                        >
                                            <div class="users-box__list">
                                                <div class="user-info-blog">
                                                    <img
                                                        src="/images/baseimg/117251156_780671119335149_3490588943834725576_o.jpg"
                                                        alt=""
                                                        class="user-info__img"
                                                    />
                                                    <div
                                                        class="
                                                            user-info__list-blog
                                                        "
                                                    >
                                                        <a
                                                            class="
                                                                user-info__list-nameblog
                                                            "
                                                            >Tống Hoàng</a
                                                        >
                                                    </div>
                                                </div>
                                                <div class="add-box">
                                                    <i
                                                        class="fas fa-user-plus"
                                                    ></i>
                                                    <span class="add-title"
                                                        >Add Friend</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="
                                                users-box users-box-care
                                                users-box__show
                                            "
                                        >
                                            <div class="users-box__list">
                                                <div class="user-info-blog">
                                                    <img
                                                        src="/images/baseimg/5f6e4a8528f4e-bpfull.jpg"
                                                        alt=""
                                                        class="user-info__img"
                                                    />
                                                    <div
                                                        class="
                                                            user-info__list-blog
                                                        "
                                                    >
                                                        <a
                                                            class="
                                                                user-info__list-nameblog
                                                            "
                                                            >Nguyễn Hưng</a
                                                        >
                                                    </div>
                                                </div>
                                                <div class="add-box">
                                                    <i
                                                        class="fas fa-user-plus"
                                                    ></i>
                                                    <span class="add-title"
                                                        >Add Friend</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="react-modal__quite">
                                            <i class="fas fa-times"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-action-box">
                                <a href="" class="content-action-box__react"
                                    >0 Comments</a
                                >
                                <a href="" class="content-action-box__share"
                                    >0 Shares</a
                                >
                            </div>
                        </div>
                        <div class="posted-item-info">
                            <p class="posted-item-typetime">
                                <a href="">GAMING</a>
                                - SEPTEMBER 22,2020
                            </p>
                            <p class="posted-item-title">
                                Here’s the X-mas Gamer Box from Powerstation and
                                it packs some surpirses
                            </p>
                            <p class="posted-item-text">
                                A video game console is an electronic or
                                computer device that outputs a video signal or
                                visual image to display a video game that one or
                                more people can play through some type of game
                                controller. These may be home consol...
                            </p>
                            <a href="" class="posted-item-link">READ MORE...</a>
                        </div>
                    </div>
                </div>
                <div class="content-actions">
                    <div class="content-action content-action__react">
                        <i class="far fa-thumbs-up"></i>
                        <span class="content-action-text">React</span>
                    </div>
                    <div class="content-action">
                        <i class="far fa-comment-alt"></i>
                        <span class="content-action-text">Comment</span>
                    </div>
                    <div class="content-action">
                        <i class="fas fa-share"></i>
                        <span class="content-action-text">Share</span>
                    </div>
                </div>
            </div>
            <div class="widget-box media">
                <div class="widget-box-status">
                    <div class="user-status">
                        <div class="user-status__avatar">
                            <img
                                src="/images/baseimg/117251156_780671119335149_3490588943834725576_o.jpg"
                                alt=""
                            />
                        </div>
                        <div class="user-status__info">
                            <span class="user-status__info-name">
                                <a href="">Tống Hoàng</a>
                                posted an update
                            </span>
                            <p class="user-status__info-time">2 months ago</p>
                        </div>
                    </div>
                    <p class="user-status-text">This is a GIF upload test!</p>
                </div>
                <img
                    style="max-width: 100%"
                    src="/images/baseimg/giphy.gif"
                    alt=""
                />
                <div class="content-actions">
                    <div class="content-action content-action__react">
                        <i class="far fa-thumbs-up"></i>
                        <span class="content-action-text">React</span>
                    </div>
                    <div class="content-action">
                        <i class="far fa-comment-alt"></i>
                        <span class="content-action-text">Comment</span>
                    </div>
                    <div class="content-action">
                        <i class="fas fa-share"></i>
                        <span class="content-action-text">Share</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-right grid__column-3">
            <div class="newest">
                <p class="heading">Popular Groups</p>
                <div class="user">
                    <div class="user-info">
                        <img
                            src="/images/baseimg/125567116_10222037693864792_3083228917287898622_o.jpg"
                            alt=""
                            class="user-info__img-1"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name"
                                >UIT K13 (Khóa 2018)</a
                            >
                            <p class="user-info__list-status">4000 members</p>
                        </div>
                    </div>
                    <div class="user-info">
                        <img
                            src="/images/baseimg/117251156_780671119335149_3490588943834725576_o copy.jpg"
                            alt=""
                            class="user-info__img-1"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name"> We are one!!! </a>
                            <p class="user-info__list-status">37 members</p>
                        </div>
                    </div>
                    <div class="user-info">
                        <img
                            src="/images/baseimg/jeshoots-com-250229-unsplash-584x389.jpg"
                            alt=""
                            class="user-info__img-1"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name"
                                >Gaming Video Creator</a
                            >
                            <p class="user-info__list-status">10 members</p>
                        </div>
                    </div>
                    <div class="user-info">
                        <img
                            src="/images/baseimg/118715108_338880747261111_5322256351393249662_n.jpg"
                            alt=""
                            class="user-info__img-1"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name"
                                >Bộ tộc Mixigaming</a
                            >
                            <p class="user-info__list-status">6000 members</p>
                        </div>
                    </div>
                    <div class="user-info">
                        <img
                            src="/images/baseimg/tinh-gia.jpg"
                            alt=""
                            class="user-info__img-1"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name">
                                THPT Tĩnh Gia II
                            </a>
                            <p class="user-info__list-status">42 members</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
